@import "tailwindcss";

/* Variables y utilidades globales del proyecto */
:root {
  --header-height: 96px;
}

/* Resets mínimos que no interfieran con Tailwind */
html, body, #app {
  height: 100%;
}

/* Accesibilidad: desplazamiento suave */
html { scroll-behavior: smooth; }
